{%extends 'base.html' %}
{%block head%}<title>Edit Profile Page</title>{%endblock%}
{%block body%}
<style>
  label[for=id_email],label[for=id_first_name],label[for=id_last_name],label[for=id_username]
  #id_password{ 
    visibility: hidden;
  }
</style>
<div class="container text-center">
<form method="post">
    {% csrf_token %}
    <table align='center'>
    {% for field in form %}
    <tr>
        <td>{{ field.label_tag }}</td><td>{{ field }}</td>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    </tr>
    <tr><td>&nbsp;</td></tr>
    {% endfor %}
    </table>
    <button type="submit">Submit</button>
  </form>
</div>
{%endblock%}