{%extends 'base.html'%}
{%block head%}
<title>Request Item</title>
{%endblock%}
{%block body%}
<div id="main">
  <div class="container">
    <div class="container" align="center"> <b>
        <p style="font-size: 35px">Request Item</p>
      </b></div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="form-group">
        <br><br><br><br>
        <label class="control-label col-sm-2" for="UID" style="font-size:20px">UID:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="UID" placeholder="UID of Student" name="UID" style="font-size: 18px" />
          <br><br>
        </div>
        <label class="control-label col-sm-2" for="Description" style="font-size:20px">Description:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Description" placeholder="Description Of The Item" name="Description"
            style="font-size: 18px" />
          <br><br>
        </div>
        <label class="control-label col-sm-2" for="Location" style="font-size:20px">Location:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Location" placeholder="Location Where You Left It" name="Location"
            style="font-size: 18px" />
          <br><br>
        </div>
        <div class="container" align="center">
          <input type="Submit" id="Submit" name="Submit" value="Submit" class="button" /><br><br>
        </div>
      </div>
    </form>
  </div>
</div>
{%endblock%}