{% extends 'base.html' %}
{% block head %}
<title>Sign Up</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="container" align="center" style="font-size: 30px">
    <h1>SIGN UP</h1>
  </div>

  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p style="font-size: 18px">


      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: black">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    <br><br>
    <button class="button" type="submit">Sign up</button>
    <br><br>
  </form>

</div>

{% endblock %}